.btn {
    width: 125px;
    height: 53px;
    background-color: $dark;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    @media (min-width: 768px) {
        &:hover {
            cursor: pointer;
            transform: scale(1.04);
            box-shadow: 7px 9px 12px 0px rgba(34, 60, 80, 0.4);
        }
    }

    &_transparent {
        background-color: transparent;
        color: $dark;
        border: 1px solid $dark;
    }
}