.promo {
    padding: 65px 0 175px 0;
    background: url('../img/promo_bg.jpg') center (center / cover) no-repeat;
    @media (max-width: 575.98px) {
        background-position: 56% 0;
    }

    &__title {
        margin: 0 0 18px 0;
        font-weight: 700;
        font-size: 90px;
        line-height: 120%;
        @media (max-width: 767.98px) {
            font-size: 70px;
        }
        @media (max-width: 575.98px) {
            font-size: 40px;
        }
    }

    &__btns {
        margin: 32px 0 0 0;
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    &_position {
        padding: 176px 0 175px 0;
    }
}